This notebook is for the ibm capstone project to build a model to predeict the severtiy on an accident

In [26]:
import pandas as pd
import numpy as np

In [27]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [28]:
df = pd.read_csv("Data-Collisions.csv")
print(df.columns)

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

/Users/hammad/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
df['SEGLANEKEY'].unique().size

1955

In [30]:
df_relevant=df[['SEVERITYCODE','X', 'Y', 'ADDRTYPE','INTKEY','LOCATION','INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'INATTENTIONIND','UNDERINFL','WEATHER','ROADCOND','LIGHTCOND','SPEEDING', 'SEGLANEKEY', 'CROSSWALKKEY']]

In [31]:
df_relevant.describe(include = "all")

,SEVERITYCODE,X,Y,ADDRTYPE,INTKEY,LOCATION,INCDATE,INCDTTM,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,192747,65070.000000,191996,194673,194673,188344,29805,189789,189592,189661,189503,9333,194673.000000,1.946730e+05
unique,NaN,NaN,NaN,3,NaN,24102,5985,162058,7,1,4,11,9,9,1,NaN,NaN
top,NaN,NaN,NaN,Block,NaN,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,2006/11/02 00:00:00+00,11/2/2006,Mid-Block (not related to intersection),Y,N,Clear,Dry,Daylight,Y,NaN,NaN
freq,NaN,NaN,NaN,126926,NaN,276,96,96,89800,29805,100274,111135,124510,116137,9333,NaN,NaN
mean,1.298901,-122.330518,47.619543,NaN,37558.450576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,NaN,51745.990273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,NaN,23807.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,NaN,28667.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,NaN,29973.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,NaN,33973.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,NaN,757580.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,525241.000000,5.239700e+06