This notebook is for the ibm capstone project to build a model to predeict the severtiy on an accident

In [212]:
import pandas as pd
import numpy as np

In [213]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [214]:
df = pd.read_csv("Data-Collisions.csv")
print(df.columns)

/Users/hammad/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [215]:
df = df[df['EXCEPTRSNCODE'] != 'NEI']
df = df[df['X'].notna() & df['Y'].notna()]

df['UNDERINFL'] = df['UNDERINFL'].fillna('0')
df["UNDERINFL"].replace({"Y": '1', "N": "0"}, inplace=True)
df[["UNDERINFL"]] = df[["UNDERINFL"]].astype("int")

df['SPEEDING'] = df['SPEEDING'].fillna('0')
df["SPEEDING"].replace({"Y": '1'}, inplace=True)
df[["SPEEDING"]] = df[["SPEEDING"]].astype("int")

df['INATTENTIONIND'] = df['INATTENTIONIND'].fillna('0')
df["INATTENTIONIND"].replace({"Y": '1'}, inplace=True)
df[["INATTENTIONIND"]] = df[["INATTENTIONIND"]].astype("int")

In [216]:
df_relevant=df[['SEVERITYCODE','X', 'Y', 'ADDRTYPE','INTKEY','LOCATION','INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'INATTENTIONIND','UNDERINFL','WEATHER','ROADCOND','LIGHTCOND','SPEEDING', 'SEGLANEKEY', 'CROSSWALKKEY']]

In [217]:
df_relevant.describe(include = "all")

,SEVERITYCODE,X,Y,ADDRTYPE,INTKEY,LOCATION,INCDATE,INCDTTM,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,SEGLANEKEY,CROSSWALKKEY
count,185653.000000,185653.000000,185653.000000,185653,64081.000000,185653,185653,185653,182726,185653.000000,185653.000000,181392,181459,181322,185653.000000,185653.000000,1.856530e+05
unique,NaN,NaN,NaN,2,NaN,23679,5984,155072,7,NaN,NaN,11,9,9,NaN,NaN,NaN
top,NaN,NaN,NaN,Block,NaN,N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND COR...,2006/11/02 00:00:00+00,11/2/2006,Mid-Block (not related to intersection),NaN,NaN,Clear,Dry,Daylight,NaN,NaN,NaN
freq,NaN,NaN,NaN,121572,NaN,261,88,88,85673,NaN,NaN,108080,121175,112455,NaN,NaN,NaN
mean,1.305947,-122.330503,47.619526,NaN,37348.094739,NaN,NaN,NaN,NaN,0.154880,0.047697,NaN,NaN,NaN,0.046759,277.988489,9.996757e+03
std,0.460809,0.029968,0.056274,NaN,50983.173636,NaN,NaN,NaN,NaN,0.361792,0.213124,NaN,NaN,NaN,0.211123,3380.728115,7.305605e+04
min,1.000000,-122.419091,47.495573,NaN,23808.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575623,NaN,28665.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000e+00
50%,1.000000,-122.330258,47.615310,NaN,29973.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663849,NaN,33983.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,NaN,757580.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,1.000000,525241.000000,5.239700e+06

In [218]:
df_relevant.shape

(185653, 17)

In [219]:
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

In [220]:
df_speeding = df_relevant[['SPEEDING']]
df_speeding['SPEEDING'].value_counts()

0    176972
1      8681
Name: SPEEDING, dtype: int64

In [221]:
df_speeding_severity = df_relevant[['SPEEDING','SEVERITYCODE']]
df_speeding_severity = df_speeding_severity[df_speeding_severity['SPEEDING'].notna()]
df_speeding_severity

        SPEEDING  SEVERITYCODE
0              0             2
1              0             1
2              0             1
3              0             1
4              0             2
...          ...           ...
194668         0             2
194669         0             1
194670         0             2
194671         0             2
194672         0             1

[185653 rows x 2 columns]

In [222]:
df_speeding_severity['SEVERITYCODE'].value_counts(normalize=True) * 100

1    69.405288
2    30.594712
Name: SEVERITYCODE, dtype: float64

When speeding is involved then number of accidents fall into category 2 in 38% of cases

In [223]:
df_not_speeding_severity = df_relevant[['SPEEDING','SEVERITYCODE']]
df_not_speeding_severity = df_not_speeding_severity[df_not_speeding_severity['SPEEDING'] == 0]
df_not_speeding_severity

        SPEEDING  SEVERITYCODE
0              0             2
1              0             1
2              0             1
3              0             1
4              0             2
...          ...           ...
194668         0             2
194669         0             1
194670         0             2
194671         0             2
194672         0             1

[176972 rows x 2 columns]

In [224]:
df_not_speeding_severity['SEVERITYCODE'].value_counts(normalize=True) * 100

1    69.777705
2    30.222295
Name: SEVERITYCODE, dtype: float64

In [225]:
df_underinfluence = df_relevant[['UNDERINFL']]
df_underinfluence['UNDERINFL'].value_counts()

0    176798
1      8855
Name: UNDERINFL, dtype: int64

When non speeding involved then number of accidents fall into category 2 in 30% of cases

In [226]:
df_under_influence = df_relevant[['UNDERINFL','SEVERITYCODE']]
df_under_influence = df_under_influence[df_under_influence['UNDERINFL'] == 1]
df_under_influence

        UNDERINFL  SEVERITYCODE
33              1             1
110             1             1
124             1             2
158             1             2
175             1             2
...           ...           ...
194633          1             2
194648          1             1
194653          1             2
194661          1             2
194667          1             1

[8855 rows x 2 columns]

In [227]:
df_under_influence['SEVERITYCODE'].value_counts(normalize=True) * 100

1    60.734049
2    39.265951
Name: SEVERITYCODE, dtype: float64

In [228]:
df_not_under_influence = df_relevant[['UNDERINFL','SEVERITYCODE']]
df_not_under_influence = df_not_under_influence[df_not_under_influence['UNDERINFL'] == 0]
df_not_under_influence

        UNDERINFL  SEVERITYCODE
0               0             2
1               0             1
2               0             1
3               0             1
4               0             2
...           ...           ...
194668          0             2
194669          0             1
194670          0             2
194671          0             2
194672          0             1

[176798 rows x 2 columns]

In [229]:
df_not_under_influence['SEVERITYCODE'].value_counts(normalize=True) * 100

1    69.839591
2    30.160409
Name: SEVERITYCODE, dtype: float64

When underinfluence then from data the percentage of severe number 2 is 39 %. When not under influence then nubmer 2 is 30%

In [230]:
df_weather = df_relevant[['WEATHER']]
df_weather['WEATHER'].unique()

array(['Overcast', 'Raining', 'Clear', nan, 'Unknown', 'Other', 'Snowing',
       'Fog/Smog/Smoke', 'Sleet/Hail/Freezing Rain', 'Blowing Sand/Dirt',
       'Severe Crosswind', 'Partly Cloudy'], dtype=object)

In [231]:
df_weather['WEATHER'].value_counts(normalize=True) * 100

Clear                       59.583664
Raining                     17.543773
Overcast                    14.871108
Unknown                      6.706470
Snowing                      0.484035
Other                        0.404097
Fog/Smog/Smoke               0.302108
Sleet/Hail/Freezing Rain     0.061745
Blowing Sand/Dirt            0.027013
Severe Crosswind             0.013231
Partly Cloudy                0.002756
Name: WEATHER, dtype: float64

In [232]:
df_relevant['ROADCOND'].value_counts(normalize=True) * 100

Dry               66.778170
Wet               25.236555
Unknown            6.622984
Ice                0.641467
Snow/Slush         0.539516
Other              0.063375
Standing Water     0.055109
Sand/Mud/Dirt      0.035270
Oil                0.027554
Name: ROADCOND, dtype: float64

In [233]:
df_relevant['LIGHTCOND'].value_counts(normalize=True) * 100

Daylight                    62.019501
Dark - Street Lights On     25.879375
Unknown                      6.093579
Dusk                         3.159021
Dawn                         1.326921
Dark - No Street Lights      0.788101
Dark - Street Lights Off     0.629267
Other                        0.098168
Dark - Unknown Lighting      0.006067
Name: LIGHTCOND, dtype: float64

In [234]:
df_relevant['ADDRTYPE'].value_counts(normalize=True) * 100

Block           65.483456
Intersection    34.516544
Name: ADDRTYPE, dtype: float64

In [235]:
df_relevant['LOCATION'].value_counts(normalize=True) * 100

N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N    0.140585
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST              0.136276
6TH AVE AND JAMES ST                                        0.135198
AURORA AVE N BETWEEN N 130TH ST AND N 135TH ST              0.127119
RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLELLAN ST       0.123887
                                                              ...
BOSTON ST BETWEEN 5TH AVE N AND DEAD END                    0.000539
N 114TH ST BETWEEN DEAD END AND CORLISS AVE N               0.000539
24TH AVE S BETWEEN DEAD END 2 AND S MCCLELLAN ST            0.000539
WOODLAWN AVE N BETWEEN N 51ST ST AND N 52ND ST              0.000539
NW 112TH ST BETWEEN 2ND W AVE NW AND 3RD AVE NW             0.000539
Name: LOCATION, Length: 23679, dtype: float64

In [236]:
df_relevant['JUNCTIONTYPE'].value_counts(normalize=True) * 100

Mid-Block (not related to intersection)              46.886048
At Intersection (intersection related)               33.853420
Mid-Block (but intersection related)                 12.280135
Driveway Junction                                     5.784617
At Intersection (but not related to intersection)     1.115331
Ramp Junction                                         0.077712
Unknown                                               0.002736
Name: JUNCTIONTYPE, dtype: float64

In [238]:
df_relevant['INATTENTIONIND'].value_counts(normalize=True) * 100

0    84.511966
1    15.488034
Name: INATTENTIONIND, dtype: float64

In [256]:
df_years = df_relevant['INCDATE'].str[:4]

In [258]:
df_years.value_counts()

2006    14816
2005    14760
2007    14035
2008    13169
2004    11568
2009    11312
2015    11013
2014    10918
2016    10606
2011    10587
2012    10539
2010    10476
2017    10261
2013    10166
2018     9916
2019     9318
2020     2193
Name: INCDATE, dtype: int64